.button {
    -fx-background-color: #00B065;
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-font: 24px Verdana;
}

.button:hover {
    -fx-background-color: #008F65;
}

#config {
    -fx-background-color: transparent;
    -fx-graphic: url("../img/settings.png"); /*Icon made by Smashicons from www.flaticon.com*/
}

#config:hover {
    -fx-graphic: url("../img/settingsh.png"); /*Icon made by Smashicons from www.flaticon.com*/
}

.label {
     -fx-text-fill: #3D3D3D;
     -fx-font: 18px Verdana;
}

#title {
    -fx-text-fill: black;
    -fx-font: 55px Calibri;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#greenLabel {
    -fx-text-fill: #00B065;
    -fx-font: 20px Verdana;
    -fx-font-weight: bold;
}

#key {
    -fx-text-fill: red;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-text-fill: #3D3D3D;
    -fx-font: 20px Arial;
    -fx-font-weight: bold;
}

.hyperlink:hover {
    -fx-text-fill: #008F65;
    -fx-underline: false;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #00B065;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font: 18px Verdana;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}